/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

     /* Section2 filtres */

     .filtre-grid{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows:  41px 50px;
        grid-column-gap: 15px;
        grid-row-gap: 0px;
        justify-content: start; 
    }

    [class^="filtre-bouton-grid"] {
        padding-left: 13px;
        padding-right: 13px;
        justify-content: normal;
        
      }

    .titre-filtre-grid {
        grid-column-start: 1;
        grid-row-start: 1;
        align-items: flex-start;
    } 

    .filtre-bouton-grid1{
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .filtre-bouton-grid2{
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .filtre-bouton-grid3{
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .filtre-bouton-grid4{
        grid-column-start: 4;
        grid-row-start: 2;
    }

    
    /* Section3 Hebergements et Populaires */

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    /* Section4 Activités */
  
    .activite {
        height: 270px;
    }

    .activite img {
        height: 200px;
    }

   


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    /* Section1 Logo et Navbar  */
    #section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        
          
    }

    .navbar {
        width: 100%;
        justify-content: space-evenly;
        gap: 0;       

    }
    .navbouton {
        width: 50%;
        text-align: center;
        border-bottom: 2px solid var(--main-bg-color);
        border-top: none;
        padding-bottom: 15px;
        padding-top: 0;
        

    }

    .navbouton:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: 2px none;
    
    }

    /* Section2 Soustitre, description, Recherche  et filtres */

    #section2 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .filtre-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  21px 50px 50px;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }


    .titre-filtre-grid {
        grid-column-start: 1;
        grid-row-start: 1;
        align-items: flex-start;
    } 

    .filtre-bouton-grid1{
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .filtre-bouton-grid2{
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .filtre-bouton-grid3{
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .filtre-bouton-grid4{
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .bouton-recherche {
        display: none;
    }

    .bouton-recherche-mobile {
        display: block;
    }

    .rechercheinput {
        padding-right: 11px;
    }

    /* Section3 Hebergements et Populaires */

    .hebergements {
        width: 100%;
        order: 1;
        
    }

    .populaires {
        width: 100%;
        order: 0;
        
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .grid-hebergements {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        grid-auto-rows: min-content;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
        
    }

    /* Section4 Activités */

    .groupactivites {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
    }

    
    .groupactivites a {
        width: 100%;
    }

    .activite {
        height: 200px;
    }

    .activite img {
        height: 141px;
    }

    /* Section5 Footer */


    .footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .sectionfooter {
        width: 80%;
        
    }

    
   
}