/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Section1 Logo et Navbar  */

#section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
      
}


.logo {
    width: 61.09px;
    height: 19px;
    padding-top: 30px; 
    padding-bottom: 26px;
    line-height: 19px;
}

.navbar {
    display: flex;
    gap: 68px;

}

.navbouton {
    padding-top: 16px;
    height: 19px;
    border-top: 2px solid white;
    cursor: pointer;
}

.navbouton:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);

}


/* Section2 Soustitre, description et Recherche */

#section2 {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 30px;
    
      
}

.soustitre {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    margin-bottom: 8px;
}

.soustitredescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
}

.form {
    display: flex;
       
}

.icon-map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    font-size: 18px;
  }

.rechercheinput {
    border-radius: 0;
    border: solid 1px var(--main-bg-color);
    font-weight: 700;
    font-size: 18px;
    height: 49px;
    text-align: center;
    box-sizing: border-box;
    
    
    
}

.rechercheinput::placeholder {
    color: black;
    font-weight: 700;
        
}

.rechercheinput:focus {
    outline: none; /* Enlever l'outline par défaut */
    
}

.rechercheinput:focus::placeholder {
    opacity: 0; 
        
}

.bouton-recherche {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: var(--main-color);
    color: white;
    padding: 15px 16px 15px 16px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    height: 49px;
}

.bouton-recherche-mobile {
    border: none;
    border-radius: 14px;
    background-color: var(--main-color);
    color: white;
    padding: 15px 16px 15px 16px;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    height: 49px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: none;
    margin-left: -10px;
}


.icon-filtre {
    font-size: 22px;
}

.filtre-grid{
    display: grid;
    grid-template-columns: 54px 173px 134px 170px 167px;
    grid-template-rows: 50px;
    grid-column-gap: 15px;
}

.titre-filtre-grid {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    display: flex;
    align-items: center;
    
}

[class^="filtre-bouton-grid"] {
    border: 2px solid #D9D9D9;
    border-radius : 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
  }

.texte-filtre-grid {
    font-weight: 700;
    font-size: 17px;
    line-height: 19.96px;
}

.bouton-grid:hover {
    background-color: var(--filter-bg-color);
}


#info {
    display: flex;
    align-items: center;
    
}


.icon-info {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius : 50%;
    margin-right: 10px;
    box-sizing: border-box;
    min-width: 24px;
}

.texte-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}


/* Section3 Hebergements et Populaires */


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
       
}

.grid-hebergements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-auto-rows: min-content;
    margin-top: 30px;
    margin-bottom: 30px;
}


.hebergements-cards .card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
}

.afficherplus {
    font-size: 18px;
    font-weight: 700;
}

.afficherplus a:hover {
    color: var(--main-color)
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    
}

.hebergements-cards .card-content {
    padding-left: 15px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    margin-bottom: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Section4 Activités */

.section4 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.groupactivites {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    

    
}

.activite {
    display: flex;
    flex-direction: column;
    height: 439px;
    padding: 0;
    

}

.groupactivites a {
    
    width: 25%;

}

.activite img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;

}


.section4 .card-title {
    
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 19px 0 19px;
}

/* Section5 Footer */

.footer {
    background-color: var( --main-bg-color);
    display: flex;
    justify-content: space-between;
   
}

.sectionfooter {
    width: 33%;
    padding: 20px 0 20px 20px;
    
}

.sectionfooter a:hover {
    color: var(--main-color)
}

.footertitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

.sectionfooter a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    margin-top: 15px;
}
